
mat-card {
    padding: 1em;
    border-radius: 6px;
    width: 500px ;
}

form {
    display: flex;
    flex-direction: column;
}
button {
    margin: 1em 0;
    border-radius: 6px;
}
button.add {
    background-color: #8FDDE7 !important;
    flex-grow: 1;
    margin: 0 2em;
}
button.submit {
    background-color: rgb(120, 201, 120) !important;
}
#wrapper {
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#card {
    margin-bottom: 20em;
    /* width: 420px;
    height: 350px; */
    width: 320px;
    height: 150px;
    z-index: 99;
}
div#buttons {
    position: absolute;
    bottom: 8%;
    z-index: 9;
    display: flex;
    flex-direction: row;
    transform: scale(0.5);
}
div#buttons > img {
    cursor: pointer;
}
div.btn-col {
    display: flex;
    flex-direction: column;
}
div#jar {
    width: 100%;
    bottom: -40%;
    position: absolute;
}
div#jar > img {
    width: 100%;
}
div#submit {
    position: absolute;
    bottom: 3em;
    right: 3em;
    cursor: pointer;
}
.row {
  display: flex;
  justify-content: space-between;
}
.btn-row {
    display: flex;
}




/* ANIMATIONS */
@keyframes hide {
    0% {
        transform: scale(1) translate3d(0px, 0px, 0px);
    }
    25% {
        transform: scale(.5) translate3d(0px, -100px, 0px);
    }
    75% {
        transform: scale(.5) translate3d(0px, 800px, 0px);
    }
}
@keyframes show {
    0% {
        transform: translateY(-1000px) rotate(-20deg);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}
@keyframes wait {
    0% {
        transform: translateY(-1000px);
    }
    100% {
        transform: translateY(-1000px);
    }
}

.single-card {
    position: absolute;
    transition-duration: 0.5s;
}

.single-card.hide-card {
    display: none;
}

.single-card.show-card {
    animation-name: wait, show;
    animation-delay: 0s, 0.5s;
    animation-duration: 0.5s, 2s;
}

.store-card {
    z-index: 0 !important;
    animation-name: hide;
    animation-duration: 2s;
    transform: scale(.5) translate3d(0px, 800px, 0px);
}