@font-face {
    font-family: 'Shadows Into Light';
    src: url("/assets/fonts/ShadowsIntoLight-Regular.ttf");
}
@font-face {
    font-family: 'Gochi Hand';
    src: url("/assets/fonts/GochiHand-Regular.ttf");
}

app-root, app-create-jar {
    display: block;
    width: 100%;
    height: 100%;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.bg-primary {
    background-color: #FFC2C7;
}
.bg-accent {
    background-color: #fff2e2;
}